.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
  z-index: 9999;
  margin-right: 20px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.navbar-nav li {
  margin-left: 10px;
  display: inline-block;
}

.navbar-nav li a {
  text-decoration: none;
  color: #ffffff;
}

li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-color: #ff8c00;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #ffa500;
}

