.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #ffa500;
}

.navbar-nav {
  display: flex;
  gap: 10px;
  align-items: center;
  list-style: none;
}

.navbar-nav li {
  margin-left: 10px;
}

.navbar-nav li:first-child {
  margin-left: 0;
}

.navbar-nav a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.navbar-nav a:hover {
  background-color: #ffa500;
  color: #fff;
}

/* User Profile CSS */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f1f1f1;
  padding: 10px 20px;
  border-radius: 8px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-welcome-message {
  font-size: 24px;
  font-weight: bold;
  margin: 10px auto;
}

.user-post-container {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
}

.user-posts-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-post {
  margin-bottom: 10px;
}

/* Like Button CSS */
.fa-thumbs-up {
  color: green;
  background-color: transparent;
  padding: 0;
  border: none;
  background: none;
}

.fa-thumbs-down {
  color: red;
  background-color: transparent;
  padding: 0;
  border: none;
  background: none;
}

.button-main {
  padding: 0;
  border: none;
  background: none;
}