.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.navbar-nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar-nav li {
  list-style: none;
}

.navbar-nav a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.navbar-nav a:hover {
  background-color: #333;
  color: #fff;
}

/* User Profile CSS */
.profile {
  background-color: #f1f1f1;
  padding: 10px 20px;
  border-radius: 8px;
}

.user-welcome-message {
  font-size: 24px;
  font-weight: bold;
  margin: 10px auto;
}

.user-post-container {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
}

.user-posts-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-post {
  margin-bottom: 10px;
}

/* Like Button CSS */
.fa-thumbs-up {
  color: green;
  background-color: transparent;
  padding: 0;
  border: none;
  background: none;
}

.fa-thumbs-down {
  color: red;
  background-color: transparent;
  padding: 0;
  border: none;
  background: none;
}

.button-main {
  padding: 0;
  border: none;
  background: none;
}
